
.specialists {
    margin-bottom: 93px;
    &-tag {
        margin-bottom: 25px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-bottom: 30px;
    }
    &-list-item {}

    @media screen
    and (max-width: $desktop){
        &-list {
            grid-template-columns: repeat(4, 1fr);
        }
        &-list-item .spec-block-button-list {
            margin-bottom: 10px;
        }
        &-list-item .spec-block-button {
            margin-bottom: 12px;
            font-size: 12px;
            padding-top: 6px;
            padding-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-list-item .spec-block-container {
            padding-left: 15px;
        }
    }
    @media screen
    and (max-width: $tablet){
        margin-bottom: 60px;
        &-tag {
            margin-bottom: 15px;
        }
        &-list {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            margin-bottom: 22px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-list {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            margin-bottom: 30px;
        }
        &-list-item .spec-block-container {
            padding-left: 15px;
        }
        &-list-item .spec-block-link {
            height: 500px;
        }
    }
    @media screen
    and (max-width: 460px){
        &-list {
            grid-template-columns: repeat(1, 1fr);
        }
        &-list-item .spec-block-link {
            height: 289px;
        }
    }
}
